
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link rel="stylesheet" href="/css/authetication.css">
</head>
<body>
  <section class="container">
    <div class="inside-container">
      <div>
        <img class="sign-up-img" src="img/signup.jpg" alt="">
       </div>
        <div class = "form-container">
          <form action="/login" id="query-form" method="POST">
            <div class="data">
              <label class = "email">Email</label>
              <input type="email" name="email" required>
           </div>
           <div class="data">
              <label class="password">Password</label>
              <input  type="password" name="password" required>
           </div>
            <div class="btn">
               <div class="inner"></div>
               <button class="submit-btn" type="submit">login</button>
            </div>
            <div class="signup-link">
               Not a Member? <a href="/signup">Sign up</a now</a>
            </div>
         </form>
        </div>
    
    </div>
  </section>
</body>
