<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>



      
        <!-- main-div1 code start-->
        <div class="amdin-main-div1">
            <div class="admin-div1-parent">
                <div class="child1"><i class="fa-solid fa-computer icon1"></i></div>
                <div class="child2">
                    <p>COURSES</p>
                    <h3>8</h3>
                </div>
            </div>
            <div class="admin-div1-parent">
                <div class="child1"><i class="fa-solid fa-user icon1"></i></div>
                <div class="child2">
                    <p>USERS REGISTERED</p>
                    <h3>14</h3>
                </div>
            </div>
            <div class="admin-div1-parent">
                <div class="child1"><i class="fa-solid fa-hand-holding-dollar icon1"></i></div>
                <div class="child2">
                    <p>TOTAL REVENUE</p>
                    <h3>$:10</h3>
                </div>
            </div>
            <div class="admin-div1-parent">
                <div class="child1"><i class="fa-solid fa-person-chalkboard icon1"></i></div>
                <div class="child2">
                    <p>ENROLLED USERS</p>
                    <h3>7</h3>
                </div>
            </div>
        </div>
        <!-- main-div2 code end -->

        <!-- main-div3 code start -->
        <div class="courses-anlaytic-container">
            <h3>All Course Analytics</h3>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Enrolled Users</th>
                    <th>Revenue</th>
                </tr>
                <tr>
                    <td>Theory of Computation</td>
                    <td>6</td>
                    <td>$12</td>
                </tr>
                <tr>
                    <td>Compiler Design</td>
                    <td>1</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td>Computer Network</td>
                    <td>2</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td>Data Structure</td>
                    <td>0</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td>Algorithm</td>
                    <td>7</td>
                    <td>$7</td>
                </tr>
                <tr>
                    <td>Operating System</td>
                    <td>4</td>
                    <td>$8</td>
                </tr>
            </table>
        </div>
        <!-- main-div3 code end -->
        
        <!-- All User Queries or contact Message -->

        <div class="writers-request-container">
             <h3>Writer-Requests</h3>
            <div class="writer-requests">
                <div>Name :  Madhav Raj Verma </d>
                <div>Skills : C++ Node js</div>
            </div>
        </div>

        <div class=""></div>
        

<%- include('../includes/footer.ejs') %>  
