          <%- include('../includes/head.ejs') %>
          <%- include('../includes/navigation.ejs') %>
      
      
          <div class=" top-subject-container">
            <h2>Top Subjects</h2>
            <div class="top-subjects">
                <div class="subject-box">
                    <h4>Mathematics</h4>
                    <p>9717 Tutors</p>
                    <div class="subject-icon">
                        <i class="fa-solid fa-arrow-up-1-9 icon4"></i>
                    </div>
                </div>
                <div class="subject-box">
                    <h4>Biological</h4>
                    <p>8765 Tutors</p>
                   
                    <div class="subject-icon">
                        <i class="fa-solid fa-dna icon4"></i>
                    </div>
                </div>
                <div class="subject-box">
                    <h4>Accounting</h4>
                    <p>5926 Tutors</p>
                    <div class="subject-icon">
                        <i class="fa-solid fa-calculator icon4"></i>
                    </div>
                   
                </div>
                <div class="subject-box">
                    <h4>English</h4>
                    <p>9523 Tutors</p>
                    <div class="subject-icon">
                        <i class="fa-solid fa-arrow-up-a-z icon4"></i>
                    </div>
                   
                </div>
                <div class="subject-box">
                    <h4>Science</h4>
                    <p>6293 Tutors</p>
                    <div class="subject-icon">
                        <i class="fa-solid fa-microscope icon4"></i>
                    </div>
                   
                </div>
            </div>
        </div>

                <!-- main div2 code start -->
                <div class="top-tutors-container">
                    <h2>Top Tutors</h2>

                    <div class="tutors-container">

                        <div class="single-tutor">
                            <div class="single-tutor-img-container ">
                                <img src="img/tutor2.jpeg" alt="">
                            </div>
                            <div class="single-tutor-detail-container">
                                <h4>Mr. Kaushik</h4>
                                <p><i class="fa-solid fa-user-graduate"></i> English</p>
                                <p>5 active students. 6 lessons</p>
                                <p><i class="fa-solid fa-language"></i> Speaks English (Advanced)</p>
                                <p>Ready to learn English? Join the Fun with a TEFL - <br>
                                    Certified Teacher Today! - Hi, I'm Mr. Kaushik from India . <br>
                                    I have a TEFL certificate and a Bachelor's <br>
                                    <a href="">Read More</a>
                                </p>
                            </div>
                            <div class="single-tutor-lesson-detail">
                                <div class="single-tutor-lesson">
                                    <div>New Tutor</div>
                                    <div>
                                       <h3> <i class="fa-solid fa-indian-rupee-sign"></i> 4999</h3>
                                    </div>
                                    <h3>50-min lesson</h3>
                                  
                                </div>
                               <div class="single-tutor-connect-btn">
                                <a href="/getbooktrial" class="btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Book trial lesson</a>
                                <a href="/getSendMessage" class="btn btn-outline-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Send Message</a>
                               </div>
                            </div>
                        </div>
                        <div class="single-tutor">
                            <div class="single-tutor-img-container ">
                                <img src="img/tutor4.jpeg" alt="">
                            </div>
                            <div class="single-tutor-detail-container">
                                <h4>Mr. Kaushik</h4>
                                <p><i class="fa-solid fa-user-graduate"></i> English</p>
                                <p>5 active students. 6 lessons</p>
                                <p><i class="fa-solid fa-language"></i> Speaks English (Advanced)</p>
                                <p>Ready to learn English? Join the Fun with a TEFL - <br>
                                    Certified Teacher Today! - Hi, I'm Mr. Kaushik from India . <br>
                                    I have a TEFL certificate and a Bachelor's <br>
                                    <a href="">Read More</a>
                                </p>
                            </div>
                            <div class="single-tutor-lesson-detail">
                                <div class="single-tutor-lesson">
                                    <div>New Tutor</div>
                                    <div>
                                       <h3> <i class="fa-solid fa-indian-rupee-sign"></i> 4999</h3>
                                    </div>
                                    <h3>50-min lesson</h3>
                                  
                                </div>
                               <div class="single-tutor-connect-btn">
                                <a href="/getbooktrial" class="btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Book trial lesson</a>
                                <a href="/getSendMessage" class="btn btn-outline-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Send Message</a>
                               </div>
                            </div>
                        </div>


                        <div class="single-tutor">
                            <div class="single-tutor-img-container ">
                                <img src="img/tutor3.jpeg" alt="">
                            </div>
                            <div class="single-tutor-detail-container">
                                <h4>Mr. Kaushik</h4>
                                <p><i class="fa-solid fa-user-graduate"></i> English</p>
                                <p>5 active students. 6 lessons</p>
                                <p><i class="fa-solid fa-language"></i> Speaks English (Advanced)</p>
                                <p>Ready to learn English? Join the Fun with a TEFL - <br>
                                    Certified Teacher Today! - Hi, I'm Mr. Kaushik from India . <br>
                                    I have a TEFL certificate and a Bachelor's <br>
                                    <a href="">Read More</a>
                                </p>
                            </div>
                            <div class="single-tutor-lesson-detail">
                                <div class="single-tutor-lesson">
                                    <div>New Tutor</div>
                                    <div>
                                       <h3> <i class="fa-solid fa-indian-rupee-sign"></i> 4999</h3>
                                    </div>
                                    <h3>50-min lesson</h3>
                                  
                                </div>
                               <div class="single-tutor-connect-btn">
                                <a href="/getbooktrial" class="btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Book trial lesson</a>
                                <a href="/getSendMessage" class="btn btn-outline-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Send Message</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
        

<%- include('../includes/footer.ejs') %>  
