<%- include('../includes/head.ejs') %>

<div class="completion-container">
    <div class="content">
        <div class="success-modal modal">
            <div class="modal-icon success-icon">
                <i class="fa-solid fa-check"></i>
            </div>

            <div class="modal-top">
                <h3>Lesson Booked Succesully</h3>
            </div>

            <div class="modal-bottom modal-bottom-success">
                <button type="button" class="modal-btn">
                    <a href="/">Continue</a>
                </button>
            </div>
        </div>
    </div>
</div>


