<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<!-- main-div1 start -->
    <div class="main-div1">
        <div class="div1-child1">
            <h1 class=""><b>Explore Skilled Tutors <br> Across India</b></h1>
            <p>
                Crack exams, learn new skills, improve grades <br>
                with the help of great teachers. Post your <br>
                learning needs and let qualified tutors get in <br>
                touch with you.
            </p>
               <div class="action-btn">
                <a href="/getallTutors" class="btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2">Hire a Tutor</a>
                <a href="/getallTutors" class="btn btn-outline-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2 ">Become a Tutor</a>
               </div>
        </div>
        <div class="div1-child2">
            <img class="imgdiv1-child2" src="img/Drawkit-Illustrations-Education-1-10 1.jpg" alt="">
        </div>
    </div>
    <!-- main-div1 end -->

    <!-- main-div2 start -->
    <div class="main-div2">
        <h1>How it works for students and parents</h1>
        <div class="div2-parent">
            <div class="div2-child1">
                <i class="fa-regular fa-clipboard icon1"></i>
                <h2>post your learning needs</h2>
                <p>post your tutor requirements. Our experts will analyze it and make it live on our job board.</p>
            </div>
            <div class="div2-child1">
                <i class="fa-solid fa-book-open-reader icon2"></i>
                <h2>post your learning needs</h2>
                <p>post your tutor requirements. Our experts will analyze it and make it live on our job board.</p>
            </div>
            <div class="div2-child1">
                <i class="fa-solid fa-clipboard-list icon3"></i>
                <h2>post your learning needs</h2>
                <p>post your tutor requirements. Our experts will analyze it and make it live on our job board.</p>
            </div>
        </div>
    </div>
    <!-- main-div2 end -->

    <!-- main-div3 start -->
        <div class="main-div3">

            <div class="div3-parent1">

                <div class="div3-child1">
                    <h1>Find qualified Tutors for face-to-face and online tutoring</h1>
                    <p>More than 50k students have found tutors already. From English to Mathematics , from History to French, from C++ to Node JS, we have it all.
                        Find a tutor now in less than 60 seconds.
                    </p>
                    <a href="/getallTutors" class="btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2 request-tutor-btn">Request a Tutor</a>
                </div>


                <div class="div3-child2">
                    <div class="div3-child2-box1">
                        <div class="subject-box">
                            <h4>Mathematics</h4>
                            <p>9717 Tutors</p>
                            <div class="subject-icon">
                                <i class="fa-solid fa-arrow-up-1-9 icon4"></i>
                            </div>
                            
                            
                        </div>
                        <div class="subject-box" >
                            <h4>English</h4>
                            <p>3442 Tutors</p>
                            <div class="subject-icon">
                                <i class="fa-solid fa-arrow-up-a-z icon4"></i>
                            </div>  
                        </div>
                    </div>
                    <div class="div3-child2-box1">
                        <div class="subject-box">
                            <h4>Computer</h4>
                            <p>2669 Tutors</p>
                            <div class="subject-icon">
                                <i class="fa-solid fa-virus icon5"></i>
                            </div>
                           
                        </div>
                        <div class="subject-box">
                            <h4>Science</h4>
                            <p>2972 Tutors</p>
                            <div class="subject-icon">
                                <i class="fa-solid fa-microscope icon4"></i>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>

            <div class="div3-parent2">
                <div class="parent2-div">
                    <div class="subject-box">
                        <h4>Physics</h4>
                        <p>9717 Tutors</p>
                        <div class="subject-icon">
                            <i class="fa-solid fa-microscope icon4"></i>
                        </div>
                     
                    </div>
                    <div class="subject-box">
                        <h4>Accounting</h4>
                        <p>9717 Tutors</p>
                        <div class="subject-icon">
                            <i class="fa-solid fa-calculator icon4"></i>
                        </div>
                      
                    </div>
                    <div class="subject-box">
                        <h4>Programming <br> Language</h4>
                        <p>9717 Tutors</p>
                        <div class="subject-icon">
                            <i class="fa-solid fa-code icon5"></i>
                        </div>
                       
                    </div>
                    <div class="subject-box">
                        <h4>French</h4>
                        <p>9717 Tutors</p>
                        <div class="subject-icon">
                            <i class="fa-solid fa-tower-observation icon4"></i>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    <!-- main-div3 end -->

    <!-- main-div4 start -->
        <div class="main-div4">
            <div>
                <h1>Teach what you love</h1>
                <p>Join hundreds of other who earn <br> doing what they love.</p>
                <a href="/getallTutors" class="btn btn-outline-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2 request-tutor-btn">Become a Tutor</a>
            </div>
            <div>
                <img class="BASimg" src="img/BAS.png" alt="">
            </div>
        </div>
    <!-- main-div4 end -->

    <!-- main-div5 start -->
    <div class="main-div5">
        <div>
            <img src="img/div5img.png" alt="">
        </div>
        <div>
            <h1>Request tutors for <br>Free</h1>
            <p>Post your learning requirement and <br> let interested tutors contact you</p>
            <a href="/gethire" class="btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2 request-tutor-btn">Request a Tutor</a>
        </div>
    </div>
    <!-- main-div5 end -->

<%- include('../includes/footer.ejs') %>  