 <%- include('../includes/head.ejs') %>  
 <%- include('../includes/navigation.ejs') %>

<div class="book-lesson-container">
    <div class ="lesson-title">Book Lesson</div>

    <div class ="tutor-detail-container">

        <div class = "tutor-img-container">
            <img src="img/tutor2.jpeg" alt="">
        </div>
        <div class = "tutor-detail">
                <h4>Mr. Kaushik</h4>
                <p><i class="fa-solid fa-user-graduate"></i> English</p>
                <p>5 active students. 6 lessons</p>
                <p><i class="fa-solid fa-language"></i> Speaks English (Advanced)</p>
                <p>Ready to learn English? Join the Fun with a TEFL - <br>
                    Certified Teacher Today! - Hi, I'm Mr. Kaushik from India . <br>
                    I have a TEFL certificate and a Bachelor's <br>
                    <a href="">Read More</a>
                </p>
        </div>
        <div class="lesson-detail-container">
            <p>First trial lesson free</p>
             <div class="amount-container">
                <span class="amount-title">Amount: </span>
                <span class="amount"> <i class="fa-solid fa-indian-rupee-sign"></i> 100</span>
             </div>
             <div class="amount-container">
                <span class ="amount-title">Duration: </span>
                <span>1 Month</span>
             </div>

             <div class ="timing-choose-container">
                <h7>Choose prefered Timing:</h7>
                    <select>
                      <option value="">10:00 to 11:00 AM</option>
                      <option value="">11:00 to 12:00 AM</option>
                      <option value="">4:00 to 5:00 PM</option>
                      <option value="">5:00 to 6:00PM</option>
                    </select>

            </div>
        </div>

    </div>

   
    <div class="book-btn-container">
        <a class="book-btn btn btn-primary py-2 px-4 d-lg-block font-weight-semi-bold mt-2" href="/getBook">Book Lesson</a>
    </div>

</div>


    <%- include('../includes/footer.ejs') %>  
